<app-snackbar [show]="!isLogged" [message]="'Guarda tus datos para próximas búsquedas'">
  <button class="btn text-white p-0 mb-0 cursor-pointer" [routerLink]="['/expert/register']">Registrate en GetExpert</button>
</app-snackbar>

<div class="contact-sent-wrapper animate__animated animate__fadeIn">
  <div class="container-fluid py-5 bg-white">
    <div class="row g-1">
      <div class="col-12 col-md-5">
        <img src="./assets/images/contact-img.png" class="w-100" alt="">
      </div>

      <div class="col-12 col-md-4">
        <h1 class="display-5 text-blue f-prompt">¡Contacto enviado con <span class="text-primary">éxito!</span></h1>

        <p>Te has contactado con:</p>

        <hr class="dash">

        <div class="contact text-blue fw-semibold">
          <div class="thumb">
            <img [src]="profilePic" alt="">
          </div>
          {{username}}
        </div>

        <hr class="dash">

        <p class="text-uppercase">Información del evento</p>

        <div class="row mb-3">
          <div class="col">
            <small>Medio</small>
            <div class="text-blue">{{media}}</div>
          </div>
          <div class="col">
            <small>Modalidad</small>
            <div class="text-blue">{{format}}</div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <small>Fecha</small>
            <div class="text-blue">{{dayDate}}</div>
          </div>
          <div class="col">
            <small>Hora</small>
            <div class="text-blue">{{hourDate}} hrs</div>
          </div>
        </div>

        <hr class="dash">

        <button
          class="btn btn-primary text-white w-100 py-3"
          [routerLink]="['/']"
          >
          Finalizar
        </button>

        <button
          class="btn w-100 text-primary mt-4"
          [routerLink]="['/']"
        >
          Realizar otra búsqueda
        </button>
      </div>
    </div>
  </div>
</div>
