.img-container {
  overflow: hidden;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-evidence{
  display: flex;
  justify-content: flex-end;
}

.evidence-input-container{
  padding-right: 0;
}

.border-dashed {
  border-bottom: 2px dashed #D9D9D9;
}