<app-navbar-layout>
  <div class="register-success-wrapper animate__animated animate__fadeIn">
    <div class="container-fluid py-5 h-100">
      <div class="row h-100 justify-content-center">
        <div class="col-12 col-md-11 h-100">

          <div class="row h-100 align-items-center">
            <div class="col-12 col-md-3">
              <img src="./assets/images/register-success-1.png" alt="imagen">
            </div>
            <div class="col px-5 text-center">
              <h1 class="display-3 f-prompt text-blue">Te has registrado en GetExpert</h1>
              <div class="row justify-content-center my-4">
                <div class="col-12 col-md-10">
                  <p>Ahora nuestro equipo revisará tu perfil para corroborar que todo esté correcto.</p>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                  <button class="btn btn-primary text-white py-3 w-100" [routerLink]="['/expert/profile']">Ver perfil</button>
                </div>
              </div>
            </div>
              
            <div class="col-12 col-md-3">
              <img src="./assets/images/register-success-2.png" class="d-none d-md-block" alt="imagen">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</app-navbar-layout>
