<div class="d-flex justify-content-center align-items-center">
  <div class="mt-5 p-5 password-reset-container">
    <h1>Reestablecer de contraseña</h1>
      <div class="form-container mt-5" *ngIf="!showMessage">
        <div class="form-field mb-4">
          <label class="form-label" for="password-input">Ingresa una nueva contraseña</label>
          <input class="form-control" name="password-input" [type]="typeInput" (change)="inputPassword($event); inputsChange()">
        </div>
        <div class="form-field mb-4">
          <label class="form-label" for="password-repeat-input">Vuelve a escribir tu nueva contraseña</label>
          <input class="form-control" name="password-repeat-input"[type]="typeInput" (change)="inputPasswordRepeat($event); inputsChange()">
        </div>
        <div class="buttons-container d-flex">
          <button class="btn border py-3 px-5 mb-5 rounded-3 text-primary" (click)="passwordReset()" [disabled]="isDisabled">Reestablecer contraseña</button>
          <button class="btn border py-3 px-5 mb-5 rounded-3 text-primary" (click)="cancel()">Cancelar</button>
        </div>
      </div>
      <div *ngIf="showMessage" class="p-5 d-flex justify-content-center">
        <h3>{{message}}</h3>
      </div>
  </div>
</div>