.banner-register {
  margin-top: 2em;
  position: relative;
  margin-bottom: 2.5em;
  .image-shadow {
    margin-bottom: 2.5;
    width: 180px;
    height: 180px;
    background-color: var(--bs-primary);
    position: absolute;
    left: 0;
    top: 0;
    filter: blur(80px);
    transform: rotate(26.58deg);
    z-index: -1;
  }
  img {
    position: relative;
    z-index: 1;
    &.circle {
      position: absolute;
      left: -4em;
      top: -2em;
      z-index: 0;
    }
  }
}
.info-user-register{
  font-weight: thin;
  color: rgb(163, 16, 16);
  width: 100%;
  display: flex;
  justify-content: center;
}
.banner-fixed {
  width: 50%;
  max-width: 650px;
  position: fixed;
  padding-left: 3em;
}

.open-modal-text:hover{
  cursor: pointer;
}

@media (max-width: 767.98px) {

  .banner-fixed {
    width: 100%;
    max-width: none;
    position: relative;
    padding-left: 3em;
  }

}
