<div
  class="select-comp-wrapper"
  [ngClass]="{'enter': enter}"
  (mouseenter)="onEnter()"
  (mouseleave)="onLeave()">
  <div class="input-group">

    <input
      class="form-control"
      type="text"
      readonly
      [value]="currentValue | titlecase"
    >

    <span class="input-group-text" id="basic-addon1">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
      </svg>
    </span>
  </div>

  <div
  class="options-list">
    <button
      type="button"
      (click)="selectOption('Selec. ' + labelName, '')"
      class="list-group-item list-group-item-action">
        {{ 'Todas' }}
    </button>
    <button
      type="button"
      *ngFor="let item of options"
      (click)="selectOption(item?.name, item?._id)"
      class="list-group-item list-group-item-action">
        {{ item.name | titlecase }}
    </button>
  </div>
</div>
