<div
  class="modal fade"
  tabindex="-1"
  [ngClass]="{'show': isOpen}"
  [ngStyle]="{'display': isOpen ? 'block' : 'none'}"
  >
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-0 p-4 pt-0">
      <div class="modal-header border-0">
        <h1
          class="modal-title fs-5 text-primary pt-5"
          (click)="isOpen = true"
        >
          Recuperar contraseña
        </h1>
        <button
          type="button"
          class="btn-close"
          (click)="dismiss()"
          ></button>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <div class="col">
            <div class="form-field mb-3">
              <label for="recovery-pass-email" class="form-label">Correo electrónico</label>
              <input required type="email" class="form-control" id="recovery-pass-email" (input)="validateFields()">
            </div>
          </div>
        </div>

        <button (click)="passwordRecovery()" class="btn btn-primary w-100 text-white py-3" [disabled]="isButtonDisabled">
          Enviar correo de recuperación
        </button>

      </div>
    </div>
  </div>
</div>
