<div class="filter-wrapper">

  <div class="filters shadow-sm">

    <div class="row px-3">
      <div class="col-12 col-md-3">
        <div class="input-group mb-0">
          <span class="input-group-text border-0 bg-transparent" id="basic-addon1">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </span>
          <input type="text" class="form-control form-control-plaintext" placeholder="¿Qué tema te gustaría cubrir?" id="name-input" (input)="handleNameInput()" #nameInput>
        </div>
      </div>
      <div class="w-100 d-block d-md-none mb-4"></div>
      <div class="col">
        <app-select-cmp
          [labelName]="'expertise'"
          [options]="area"
          (onSelectValue)="onSelectAreaFilter($event)"
        ></app-select-cmp>
      </div>
      <div class="w-100 d-block d-md-none mb-4"></div>
      <div class="col">
        <app-select-cmp
          [labelName]="'región'"
          [options]="regions"
          (onSelectValue)="onSelectRegionFilter($event)"
        ></app-select-cmp>
      </div>
      <div class="w-100 d-block d-md-none mb-4"></div>
      <div class="col">
        <app-select-cmp
          [labelName]="'comuna'"
          [options]="commune"
          [currentValue]="currentCommune"
          (onSelectValue)="onSelectCommuneFilter($event)"
        ></app-select-cmp>
      </div>
      <div class="w-100 d-block d-md-none mb-4"></div>
      <div class="col">
        <app-select-cmp
          [labelName]="'modo'"
          [options]="mode"
          (onSelectValue)="onSelectModeFilter($event)"
        ></app-select-cmp>
      </div>
      <div class="w-100 d-block d-md-none mb-4"></div>
      <div class="col">
        <app-select-cmp
          [labelName]="'medio'"
          [options]="media"
          (onSelectValue)="onSelectMediaFilter($event)"
        ></app-select-cmp>
      </div>
    </div>

  </div>
  <button (click)="onSearchFilter()" type="button" class="btn btn-primary px-4">
    <img src="./assets/svg/icon-search-w.svg" alt="icon-search">
  </button>
</div>
